services:

  proxy:
    image: nginx:1.28
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./proxy/certs:/etc/nginx/certs:ro
    depends_on:
      - app

  app:
    build:
      context: ..
      dockerfile: docker/app/dockerfile
    expose:
      - "3000"
    environment:
      - NUXT_SECURITY_ENABLED=true
      - NUXT_DATABASE_URL=${NUXT_DATABASE_URL}
    depends_on:
      - db

  db:
    image: postgres:17.7
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
