@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

.prose img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .prose img {
    max-width: 560px;
    margin-left: 0;
    margin-right: 0;
  }
}
